autodp==0.2
bitarray==2.6.2
fast_histogram==0.11
matplotlib==3.6.2
numba==0.56.4
numpy==1.23.5
pandas==1.5.2
pathos==0.3.0
pmlb==1.0.1.post3
scikit_learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
six==1.16.0
statsmodels==0.13.5
tqdm==4.64.1
xxhash==3.2.0
notebook==6.5.2